body {
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    background: transparent;
}

#ui-container {
    position: absolute;
    right: 2%;
    top: 45%;
    transform: translateY(-50%);
    background: transparent;
}

.text-ui-box {
    display: flex;
    align-items: center;
    background: rgba(12, 12, 16, 0.95);
    padding: 10px 20px 12px 20px;
    border-radius: 7px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5), inset 0 0 20px #282832;
    animation: slideIn 0.4s ease-out;
    border: 2px solid #282832;
}

.key-wrapper {
    background: #51c160c2;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    margin-right: 15px;
    box-shadow: 0 4px 0 #288334c2, inset 0 0 8px #52e365;
}

.message-wrapper p {
    color: white;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: bolder;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(50px); }
    to { opacity: 1; transform: translateX(0); }
}